*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

.c1{
    width: 100%;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1 h1{
    color:white;
    font-size: 13vw;
    font-weight:900;
}

.cursor{
    width: 90px;
    height: 90px;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
}

